<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consulta</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/estilousr.css' %}">
    <script>
        function eliminar(id,nom){
            var res = confirm('Confirma eliminar a '+nom+' con el ID '+id);
            if(res){
                var formulario = document.getElementById(id);
                formulario.submit();
            }
        }
    </script>
</head>
<body>

    <h2>Consulta general de profesores</h2>
    <div class="fond">
            <table>
                    <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Edad</th>
                                <th>Asignatura</th>
                                <th>Correo</th>
                                <th>Operaciones</th>
                            </tr>
                    </thead>
        <tbody>
            {% for fila in registro%}
            <tr>
        
                <td>{{fila.idProfesor}}</td>
                <td>{{fila.nombre}}</td>
                <td>{{fila.edad}}</td>
                <td>{{fila.asignatura}}</td>
                <td>{{fila.correo}}</td>
                <!-- <td>{{fila.contraseña}}</td> -->
                <td>
                    <form action="modificacion/" method="POST">
                        {% csrf_token %}
                        <input name="idProfesor" value="{{fila.idProfesor}}" type="hidden">
                        <button>Editar</button>
                    </form>
                </td>
                <td>
                    <form id="{{fila.idProfesor}}" action="/inicio/eliminar" method="POST">
                        {% csrf_token %}
                        <input name="idProfesor" value="{{fila.idProfesor}}" type="hidden">
                        <button type="button" onclick="eliminar('{{fila.idProfesor}}','{{fila.nombre}}','{{fila.edad}}','{{fila.asignatura}}','{{fila.correo}}','{{fila.contraseña}}')">Eliminar</button>
                    </form>
                </td>
             </tr>
            {% endfor%}
        </tbody>
        </table>
        



    </div>
    
</body>
</html>