<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modificar</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/estilousr.css' %}">
</head>
<body>

    <h3>Modifica profesor</h3>

    <form action="/inicio/modificar/" method="POST">
        {% csrf_token %}
        <input type="number" name="idProfesor" value="{{reg.idProfesor}}"  required>
        <br>
        <br>
        <input type="text" name="nombre" value="{{reg.nombre}}" maxlength="15" required>
        <br>
        <br>
        <input type="number" name="edad" value="{{reg.edad}}" required>
        <br>
        <br>
        <input type="text" name="asignatura" value="{{reg.asignatura}}" maxlength="15" required>
        <br>
        <br>
        <input type="text" name="correo" value="{{reg.correo}}" maxlength="30" required>
        <br>
        <br>
        <input type="text" name="contraseña" value="{{reg.contraseña}}" maxlength="15" required>
        <br>
        <br>
        <input type="submit" value="Guardar">
        
                   
    </form>
</body>
</html>