<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modificacion de alumno</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/estilousr.css' %}">
</head>
<body>
        <form action="/inicio/modificarAl" method="POST">
                {% csrf_token %}  
                <input type="text" name="idAlumno" value="{{reg.idAlumno}}"  maxlength="15" required>
                <br>
                <br>
                <input type="text" name="nombre" value="{{reg.nombre}}" maxlength="40" required>
                <br>
                <br>
                <input type="text" name="carrera" value="{{reg.carrera}}" required>
                <br>
                <br>
                <input type="text" name="correo" value="{{reg.correo}}" maxlength="40" required>
                <br>
                <br> 
                <input type="text" name="numero" value="{{reg.numero}}" maxlength="20" required>
                <br>
                <br>
                <input type="text" name="contraseña" value="{{reg.contraseña}}" maxlength="40" required>
                <br>
                <br>
                <button>Guardar datos</button>
                <h1>{{msg}}</h1>
                    <br>
                </form>
</body>
</html>