<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>My name is:</h1>

    <h3>Josue Dai Nuñez</h3>

    <h2>{{Institucion|default:'No existe institucion' }}</h2>
    {% if valores%}
          <select name="" id="">
            {% for v in valores%}
              <option value="{{v.id}}"> {{v.nombre}}</option>
           {%endfor%}
          </select>
    {%else%}
       {#Mensaje para cuando no se reciben peronas}
       
      <h1>No existen opciones</h1>
    {%endif%}  


    

</body>
</html>