<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Materia</title>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">

</head>
<body>
    <h2> Registrar Materias 123</h2>
    <form action="Materia/guardarMat/" method="POST">
        {% csrf_token %}
        <br><label for="idMateria"><b>ID Materia:</b> </label><br>
        <input type="text" name="idMateria" maxlength="15" required>
        <br><br>
        <label for="nombre"><b>Nombre de la materia: </b></label><br>
        <input type="text" name="nombre" maxlength="100" required>
        <br><br>
        
        <label for="descripcion"><b>Descripción:</b> </label><br>
        <input type="text" name="descripcion" maxlength="150"required>
        <br><br>
       
        <form action="consulta" method="POST">
            <button id="guardar">Guardar datos</button>
            <br>
        </form>
        <h1>{{msg}}</h1>
    </form>


</body>
</html>